.report {
    border-radius: 8px;
    background-color: #2e2e2e;
    padding: 12px 18px;
    width: 76%;
    // max-height: 85dvh;
    // margin-left: 0%;

    &__title{
        text-align: center;
        font-family: "Manrope-Bold", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 110%;
        color: #fff;
        margin-bottom: 32px;
    }

    &__container{
        margin-bottom: 38px;
    }

    &__container-title{
        font-family: "Manrope-Bold", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 170%;
        color: #fff;
        margin-bottom: 15px;
        border-bottom: 3px solid #fff;
        padding-bottom: 5px;
        
        // text-align: center;
    }

    .report__item{
        display: flex;
        width: 100%;
        justify-content: space-between;
        

        &-text{
            font-family: "Manrope-Bold", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 144%;
            color: #fff;
            margin-bottom: 5px;
        }
    }

    .employee__projects{
        width: 100%;
        padding: 0 40px;
        // max-height: 40%;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: thin; /* Для Firefox */
        scrollbar-color: #888 #333; /* Цвет полосы и фона для Firefox */
    
        &::-webkit-scrollbar {
            width: 8px; /* Узкая ширина скролла */
        }
    
        &::-webkit-scrollbar-thumb {
            background: #888; /* Цвет самого скроллбара */
            border-radius: 8px; /* Скругленные края */
            border: 2px solid #333; /* Граница вокруг скролла */
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: #fff; /* Изменение цвета при наведении */
        }
    
        &::-webkit-scrollbar-track {
            background: #333; /* Темный фон трека */
            border-radius: 10px;
        }
    
    }
    
    .employee__project{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        padding: 10px 30px;
        border-bottom: 1px solid #454554;
        // cursor: pointer;
    
        &:nth-last-child(1){
            border-bottom: 1px solid transparent;
        }
    
        &-name{
            display: flex;
            align-items: center;
            width: 20%;
            // margin-right: 30%;
        }
    
        &-img{
            width: 45px;
            height: 45px;
            object-fit: cover;
            margin-right: 25px;
            border-radius: 8px;
        }
    
        &-text{
            font-family: "Manrope-Regular", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #fff;
        }
    }
    
    .employee__project-post{
        font-family: "Manrope-Regular", sans-serif;
        font-weight: 400;
        // opacity: 0.6;
        font-size: 14px;
        line-height: 130%;
        color: #fff;
        width: 37%;
    }
    
    .employee__project-task{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &-text{
            font-family: "Manrope-Bold", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 144%;
            color: #000;
        }
    }

}

