.form__registration{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .form__inner{
        width: 48%;
        margin-right: 2%;
    }
}

.registration{
    .authorization__form{
        width: 100%;
        margin-right: 0;
        height: 100%;
    }
}